/build.conf
/buildroot.conf
/bootfs/
/config/
!/config/apt/custom_sources.txt
!/config/boot/custom_config.txt
!/config/files/custom_files.txt
/res/initramfs/boot/config.txt
/packages/
/build_dir/
/raspberrypi-ua-netinst-*.zip
/raspberrypi-ua-netinst-*.img
/raspberrypi-ua-netinst-*.img.xz
/raspberrypi-ua-netinst-*.img.bz2
